@font-face {
    font-family: Monument Extended;
    src: url(../fonts/MonumentExtended-Ultrabold.otf);
}
@font-face {
    font-family: Montserrat Bold;
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1440px;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* padding inline */
.one,.two, .speakers, .instructors,.outline,.curr,footer{
    padding-inline: 4rem;
}

/* padding inline */
#menu{
    display: none;
}
#close{
    display: none;
}
#navlogo{
    width: 400px;
    position: absolute;
    top: 0rem;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-track{
    background-color: #b4cfb5;
}
body::-webkit-scrollbar-thumb{
    background-color: #31B219;
    border-radius: 100vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0rem;
    background-color: rgb(255, 255, 255);
    margin-inline: 0rem;
    /* padding-inline: 3rem; */
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 40;
    position: fixed;
    width: 1440px;
    border-bottom: 3px solid gainsboro;
}
/* nav img{
    margin-bottom: -3rem;
    margin-top: 0rem;
    margin-left: 0rem;
} */
nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
nav li a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: black;
}
nav li a:hover{
    color: #388E3C;
}
.one{
    padding-top: 13rem;
    display: flex;
    gap: 5rem;
    position: relative;
    padding-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 61.98%, rgba(75, 75, 75, 0.7) 78.12%);
}
.one::before{
    content: '';
    background-image: url(https://webbullindia.com/icon/content.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: brightness(30%) opacity(.8);
}
.top_left{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.top_right{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
.countdown{
    display: flex;
    gap: 5rem;
}
.top_left h1{
    font-family: Monument Extended;
    font-size: 35px;
    font-weight: 800;
    line-height: 46px;
}
.top_left h2{
    font-family: Montserrat Bold;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
}
.countdown h1{
    font-family: Monument Extended;
    font-size: 45px;
    font-weight: 800;
    line-height: 62px;
}
.countdown small{
    font-family: Monument Extended;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
#register{
    font-family: Monument Extended;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    margin-top: 2rem;
    transform: translateY(2rem);
}
.one h1{
    color: white;
}
.one h2, .one small{
    color: #388E3C;
}
.two{
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
}
.eventdetails{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.eventdetails main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.eventinfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 64px rgba(41, 41, 41, 0.2);
    background-color: white;
    transform: translateY(-3rem);
}
.eventinfo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eventinfo h1{
    margin-bottom: .5rem;
    font-family: Monument Extended;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.05em;
}
.eventinfo p{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.eventdetails .wte h1{
    font-family: Monument Extended;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
}
.eventdetails .wte p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #484848;
    text-align: justify;
}
#phreg{
    display: none;
}
.two form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.two input{
    width: 650px;
    padding: 20px 15px;
    background-color: #EEEEEE;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    font-weight: 400;
    outline: none;
}
.two input ::-webkit-input-placeholder{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.two .head{
    font-family: Monument Extended;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
}

/* form update */
.dropdown{
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: #EEEEEE;
}
.dropdown select{
    padding-block: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #EEEEEE;
    font-family: Montserrat;
    color: #484848;
    cursor: pointer;
}
.dropdown label{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
}
#specify,#specify2{
    width: 400px;
    margin-block: 5px;
    padding: 10px;
    background-color: white;
}

/*  */
h2{
    font-family: Montserrat bold;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}
p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #4a4a4a;
    font-weight: 900;
}
.instructors{
    margin-top: 3rem;
}

.outline{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.outline h1{
    font-family: Monument Extended;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    color: #212121;
}
.outline article{
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}
.outline button{
    text-decoration: none;
    height: 75px;
    width: 300px;
    background-color: #F5FFF3;
    border-radius: 5px;
    padding: 18px 64px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 39px;
    color: #388E3C;
    border: 1px dotted #388E3C;
}
.outline button:hover{
    background-color: #388E3C;
    color: white;
    border: none;
    transition: .5S linear ;
    cursor: pointer;
}
#btn1a{
    background-color: #388E3C;
    color: white;
    border: none;
}
.outline .evelis{
    display: flex;
    flex-direction: column;
}
.outline P:hover{
    background-color: #F5FFF3;
}
.outline H3{
    font-family: Monument Extended;
    font-size: 22px;
}
.outline p{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    padding: .5rem 1rem;
}
.day2{
    display: none;
}

.outline .evename{
    color: #388E3C;
}

/* curriculum */
.curr{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 3rem;
}
.curr header{
    margin-bottom: 2rem;
    font-family: Monument Extended;
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
    color: #388E3C;
}
.curr main{
    border: .5px thin gray;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 32px;
    padding-top: 32px;
    box-shadow: 0px 0px 64px #ccd1cb;
    border-radius: 15px;
    width: 60%;
    background-color: #F5FFF3;
}
.curr main h1{
    margin-bottom: 1rem;
    font-family: Monument Extended;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 800;
    line-height: 38px;
    text-align: center;
}
.curr ul{
    list-style: none;
}
.curr ul li{
    margin-block: 1rem;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}
.curr ul li:hover{
    color: #388E3C;
}
.curr ul li img{
    margin-right: 1rem;
}
/* curr ends  */
/* new foooter */
footer{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 64px;
}
footer span{
    display: flex;
    gap: 1rem;
    align-items: center;
}
footer div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
footer h1{
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 900;
}
footer a, #numbers{
    font-family: Montserrat;
    text-decoration: none;
    font-size: 22px;
    color: white;
}
footer p{
    text-align: center;
    padding-bottom: 30px;
    margin-top: -1rem;
}
#ln{
    background-color: white;
}
#call{
    background-color: white;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 670px){
    html{
        overflow-x: hidden;
    }
    #menu{
        display: block;
        position: absolute;
        z-index: 42;
        width: 40px;
        right: 1rem;
        top: .7rem;
    }
    #close{
        display: block;   
        transform: translateX(300%);
        position: absolute;
        z-index: 100;
        width: 20px;
        right: 2rem;
        top: 2rem;
        transition: .55s linear;
        z-index: 50;
    }
    body{
        max-width: 100%;
        padding-inline: 1rem;
        overflow-x: hidden;
    }
    nav main{
        width: 100%;
        background-color: white;
        position: relative;
    }
    #navlogo{
        width: 250px;
        top: -1.8rem;
        left: -1.5rem;
    }
    nav{
        width: 100%;
        padding-inline: 1rem;
        margin-inline: -1rem;
    }
    nav ul{
        position:absolute;
        top: 0;
        bottom: 0;
        width: 60%;
        right: 0;
        /* inset: 0 0 0 30%; */
        flex-direction: column;
        justify-content: initial;
        background-color: #F5FFF3;
        height: 100vh;
        padding-left: 2rem;
        padding-top: 5rem;
        transition: .5s linear;
        transform: translateX(100%);
        z-index: 43;
        gap: 0;
    }
    
    nav ul li{
        margin: 1rem 0;
    }
    /* padding inline */
    .one,.two, .speakers, .instructors,.curr,.sponsors{
        /* padding-inline: 1.5rem; */
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .two .head{
        font-size: 16px;
        margin-bottom: 1rem;
    }
/* padding inline */
    .one{
        padding-top: 11rem;
        flex-direction: column;
        /* margin-inline: -1rem; */
        margin-left: -1rem;
        margin-right: -1rem;
        gap: 0rem;
        padding-bottom: 16rem;
        margin-bottom: 5rem;
        max-height: 400px;
    }
    .top_left{
        margin-bottom: 2rem;
    }
    .top_left,.top_right{
        width: 100%;
    }
    .top_left h1{
        font-size: 20px;
        line-height: 28.8px;
    }
    .top_left h2{
        font-size: 18px;
    }
    .countdown{
        width: 100%;
        gap: 0rem;
        justify-content: flex-start;
        padding-inline: -1rem;
        margin-top: 1rem;
   }
   .countdown div{
    margin-right: 1rem;
   }
    .countdown h1{
        font-size: 28px;
        line-height: 35px;
    }
    /* #att{
        display: none;
    } */
    .countdown small{
        font-size: 12px;
    }
    #register{
        display: none;
    }
    #reg{
        background-color: #388E3C;
        color: white;
        width: 100%;
        font-size: 18px;
        cursor: pointer;
    }
    .two{
        flex-direction: column;
        gap: 0rem;
        margin-inline: -1rem;
        margin-top: -2rem;
    }
    .two input{
        width: 100%;
    }
    .eventdetails{
        width: 100%;
        margin-bottom: 2rem;
    }
    .eveinfo{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        gap: 0rem;
    }
    .eventinfo{
        width: 100%;
    }
    .eventinfo div{
        margin-bottom: -2rem;
    }
    #formfield{
        margin-bottom: 2rem;
    }
    .eventinfo div p{
        margin-bottom: 2rem;
    }
    .eventinfo p{
        width: 100%;
    }
    #wtep{
        font-size: 12px;
        line-height: 26.8px;
    }
    #phreg{
        display: block;
        width: 70vw;
        background-color: #388E3C;
        color: white;
    }
    #reg1{
        border-radius: 30px;
    }
    .eventinfo input{
        width: 100%;
        font-size: 16px;
        background-color: #388E3C;
        color: white;
    }
    .dropdown{
        width: 100%;
    }
    #specify,#specify2{
        width: 100%;
    }
    .form::before{
        content: 'Register Now';
        font-family: Monument Extended;
        font-size: 22px;
        font-weight: 800;
        line-height: 26px;
        transform: translateY(-2rem);
    }
    .form{
        padding-top: 2rem;
    }
    #reg{
        height: 50px;
        text-align: center;
        margin: auto;
        padding-bottom: 55px;
    }
    .eventdetails .wte h1{
        font-size: 20px;
        line-height: 25px;
        margin-top: 1rem;
        margin-bottom: -1rem;
    }
    .speakers h1,.instructors h1{
        font-size: 20px;
        margin-bottom: 2rem;
        text-align: center;
    }
    .socials{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .speakers{
        margin-top: -10rem;
    }
    .speakers,.instructors{
        /* margin-inline: 1rem; */
        margin-left: -1rem;
        margin-right: -1rem;
        gap: 0;
    }
    .threeG{
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }
    .three{
        width: 100%;
        flex-direction: column;
        padding: 5px 10px;
        padding-bottom: 10px;
        margin-bottom: 3rem;
        /* align-items: flex-start; */
        text-align: center;
    }
    .three .text{
        gap: 0;
    }
    .three p{
        margin: 1rem 0;
    }
    .socials{
        gap: 0;
    }
    .socials img{
        margin-right: 1rem;
    }
    .photo{
        /* min-height: 100vw; */
        border-radius: 5px;
        min-width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 0% 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-radius: 20px;
    }
    #clement{
        object-position: center;
    }
    #judi{
        object-position: 35%;
    }
    #chidie{
        object-position: right;
    }
    .outline{
        /* margin-inline: -1rem; */
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: 7rem;
        /* gap: 0; */
    }
    .outline header{
        margin-bottom: 2rem;
    }
    .outline h1{
        font-size: 20px;
        margin-bottom: -1rem;
    }
    .outline article{
        gap: 0rem;
        background-color: #EDF8EB;
        padding: 14px;
    }
    .outline .evelis{
        padding: 5px;
    }
    .outline p{
        padding: .5rem;
    }
    .outline button{
        width: 150px;
        height: initial;
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }
    .outline H3{
        font-family:  Montserrat Bold;
        font-size: 14px;
        line-height: 24px;
    }
    .outline p{
        font-size: 12px;
        line-height: 20px;
        gap: 1rem;
        /* margin-inline: -1rem; */
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .eve{
        width: 90vw;
    }
    .curr article{
        display: flex;
        flex-direction: column;

    }
    .curr header{
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
    }
    .curr .web2{
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .curr main{
        padding: 16px;
        width: 100%;
    }
    .curr ul li{
        font-size: 14px;
        line-height: 24px;
    }

    .sponsors{
        margin-inline: -1rem;
        padding-bottom: 15rem;
        gap: 0rem;
    }
    .sponsors h1{
        font-size: 25px;
        margin-bottom: 3rem;
    }
    .sponsors h2{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
    }
    .sponsor1{
        gap: 0;
        margin-bottom: 5rem;
    }
    .sponsor1 main{
        gap: 0rem;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
    }
    .sponsors main span{
        gap: 0rem;
    }
    .sponsor1 img{
        width: 170px;
        margin-right: 1rem;
    }
    #a11{
        width: 100px;
        margin-left: 1rem;
    }
    
    /* media and exosysten */
    .mediapatners{
        justify-content: center;
        gap: 0rem;
        margin-bottom: -5rem;
    }
    .mediapatners span{
        gap: 0rem;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }
    .mediapatners img{
        width: 150px;
        margin-right: 3rem;
    }
    #casset{
        width: 190px;
    }
    .ecosystem span{
        /* border: 1px solid; */
        width: 90%;
        align-items: center;
        /* justify-content: space-between; */
        /* gap: 4rem; */
    }
    .ecos{
        min-width: 50px;
    }
    .ecosystem img{
        width: 100px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* footer */

    footer{
        margin-inline: -1rem;
        padding-inline: 2rem;
    }
    footer h1{
        font-size: 25px;
    }
    footer a{
        font-size: 20px;
    }
    #call{
        margin-right: 10px;
        margin-bottom: 5px;
        width: 20px;
        transform: translateY(6px);
    }
    #numbers{
        display: block;
        width: 97%;
    }
}

@media only screen and (max-width:2600px) and (min-width:1921px){
    body{
        max-width: 2600px;
    }
    nav{
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    nav ul{
        gap: 5rem;
        margin-right: 3rem;
    }
    nav li a{
        font-size: 25px;
    }
    #navlogo{
        width: 500px;
        left: 3rem;
        top: 1rem;
    }
    .one{
        padding-top: 23rem;
        padding-bottom: 10rem;
    }
    .top_left h1{
        font-size: 55px;
        line-height: 70px;
    }
    .countdown{
        gap: 6rem;
    }
    .countdown h1{
        font-size: 60px;
    }
    .countdown small{
        font-size: 20px;
    }
    #register{
        font-size: 30px;
        margin-top: 1rem;
        transform: translateY(9rem);
    }
    .eventinfo h1{
        font-size: 30px;
        line-height: 40px;
    }
    .eventinfo p{
        font-size: 25px;
        line-height: 40px;
    }
    .eventdetails .wte p{
        font-size: 25px;
        line-height: 50px;
    }
    .two input{
        width: 1000px;
        padding: 40px 25px;
        font-size: 24px;
    }
    .dropdown{
        width: 1000px;
    }
    #specify,#specify2{
        width: 70%;
    }
    .two input ::-webkit-input-placeholder{
        font-size: 20px;
    }
    .form{
        margin-top: 3rem;
    }
    .three h2{
        font-size: 30px;
        line-height: 50px;
    }
    .three p{
        font-size: 25px;
        line-height: 40px;
    }
    .outline p{
        font-size: 25px;
        line-height: 50px;
    }
    .sponsors h2{
        font-size: 28px;
    }
    footer h1{
        font-size: 40px;
    }
    footer a,footer p{
        font-size: 28px;
    }
    #numbers{
        font-size: 25px;
    }

}
@media only screen and (max-width:1920px) and (min-width:1601px){
    body{
        max-width: 1920px;
    }
    nav{
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    nav ul{
        gap: 5rem;
        margin-right: 3rem;
    }
    nav li a{
        font-size: 25px;
    }
    #navlogo{
        width: 500px;
        left: 3rem;
        top: 1rem;
    }
    .one{
        padding-top: 23rem;
        padding-bottom: 10rem;
    }
    .top_left h1{
        font-size: 50px;
        line-height: 70px;
    }
    .countdown{
        gap: 6rem;
    }
    .countdown h1{
        font-size: 50px;
    }
    .countdown small{
        font-size: 20px;
    }
    #register{
        font-size: 30px;
        margin-top: 1rem;
        transform: translateY(9rem);
    }
    .eventinfo h1{
        font-size: 30px;
        line-height: 40px;
    }
    .eventinfo p{
        font-size: 22px;
        line-height: 40px;
    }
    .eventdetails .wte p{
        font-size: 22px;
        line-height: 40px;
    }
    .two input{
        width: 800px;
        padding: 40px 25px;
        font-size: 24px;
    }
        .dropdown{
        width: 800px;
    }
    #specify,#specify2{
        width: 70%;
    }
    .two input ::-webkit-input-placeholder{
        font-size: 20px;
    }
    .form{
        margin-top: 3rem;
    }
    .three h2{
        font-size: 30px;
        line-height: 50px;
    }
    .three p{
        font-size: 25px;
        line-height: 40px;
    }
    .outline p{
        font-size: 25px;
        line-height: 50px;
    }
    .sponsors h2{
        font-size: 28px;
    }
    footer h1{
        font-size: 40px;
    }
    footer a,footer p{
        font-size: 28px;
    }
    #numbers{
        font-size: 25px;
    }
}
@media only screen and (max-width:1600px) and (min-width:1441px) {
    body{
        max-width: 1600px;
    }
    nav{
        width: 100%;
    }
}
@media (max-width:1440px) and (min-width:1025px){
    html{
        overflow-x: hidden;
    }
    nav{
        width: 100%;
    }
    /* #navlogo{
        left: 0rem;
    } */
    .top_left{
        width: 50%;
    }
    .top_right{
        width: 50%;
    }
    .countdown h1{
        font-size: 40px;
    }
    .eveinfo{
        flex-direction: column;
        gap: 2rem;
    }
    .eventinfo p{
        font-size: 14px;
        width: 100%;
    }
    .eventinfo p img{
        width: 20px;
    }
    .photo{
        width: 300px;
    }
}
@media (max-width:1280px) and (min-width:1025px){
    .top_left h1{
        font-size: 30px;
    }
    .top_left h2{
        font-size: 22px;
    }
    .countdown{
        gap: 2rem;
        justify-content: space-between;
    }
    .countdown h1{
        font-size: 35px;
    }
    #register{
        visibility: hidden;
    }
    .two{
        flex-direction: column;
    }
    .eventdetails{
        width: 100%;
    }
    .eveinfo{
        flex-direction: row;
    }
    nav li a{
        font-size: 14px;
    }
    #navlogo{
        width: 300px;
        top: .5rem;
    }
    .eventdetails .wte h1,.speakers h1, .instructors h1,.sponsors h1,.outline h1{
        font-size: 25px;
    }
    .outline button{
        font-size: 20px;
        padding: 12px 28px;
    }
    .outline article{
        gap: 1rem;
    }
    .outline p{
        font-size: 16px;
    }
    footer h1{
        font-size: 25px;
    }
    footer a{
        font-size: 18px;
    }
}
@media (max-width:1140px) and (min-width:1025px){
    .photo{
        width: 250px;
    }
}
@media (max-width:1024px) and (min-width:670px){
    html{
        overflow-x: hidden;
    }
    #menu{
        display: block;
        position: absolute;
        z-index: 42;
        width: 40px;
        right: 1rem;
        top: .7rem;
    }
    #close{
        display: block;   
        transform: translateX(300%);
        position: absolute;
        z-index: 100;
        width: 20px;
        right: 2rem;
        top: 2rem;
        transition: .55s linear;
        z-index: 50;
    }
    body{
        width: 100%;
        padding-inline: 1rem;
        overflow-x: hidden;
    }
    nav main{
        width: 100%;
        background-color: white;
        position: relative;
        padding-top: 4px;
    }
    nav{
        width: 100%;
        padding-inline: 1rem;
        margin-inline: -1rem;
    }
    #navlogo{
        width: 300px;
        top: -2rem;
    }
    nav ul{
        position:absolute;
        inset: 0 0 0 30%;
        flex-direction: column;
        justify-content: initial;
        background-color: #F5FFF3;
        height: 100vh;
        padding-left: 2rem;
        padding-top: 5rem;
        transition: .5s linear;
        transform: translateX(100%);
        z-index: 43;
        overflow-y: scroll;
    }
    /* padding inline */
    .one,.two, .speakers, .instructors,.outline,.sponsors,footer{
        padding-inline: 3rem;
        margin-inline:-1rem;
    }

    /* padding inline */
    .one{
        flex-direction: column;
        gap: 2rem;
    }
    .top_left{
        width: 100%;
    }
    .top_right{
        width: 100%;
    }
    .top_left h1{
        font-size: 30px;
    }
    .top_left h2{
        font-size: 20px;
    }
    .countdown h1{
        font-size: 30px;
    }
    #register{
        visibility: hidden;
    }
    .eventdetails{
        width: 100%;
    }
    .eventdetails main{
        gap: 5rem;
    }
    .eveinfo{
        flex-direction: row;
    }

    .two{
        flex-direction: column;
        margin-top: 4rem;
    }
    .eventinfo p{
        font-size: 14px;
        align-items: center;
    }
    .eventinfo p img{
        width: 20px;
    }
    .two input{
        width: 100%;
    }
    .dropdown{
        width: 100%;
    }
    #specify,#specify2{
        width: 70%;
    }
    #reg{
        background-color: #388E3C;
        color: white;
        font-size: 14px;
        border-radius: 15px;
        width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 50px;
    }
    .eventdetails .wte h1,.speakers h1, .instructors h1,.sponsors h1,.outline h1{
        font-size: 22px;
    }
    .eventdetails .wte p{
        font-size: 14px;
        line-height: 26px;
        margin-top: -2rem;
    }
    .photo{
        width: 200px;
    }
    .three .text h2{
        font-size: 16px;
    }
    .three .text p{
        font-size: 12px;
    }
    .outline button{
        font-size: 16px;
        padding: 8px 16px;
        width: 200px;
    }
    .outline article{
        gap: 1rem;
    }
    .outline p{
        font-size: 14px;
    }
    .outline button{
        font-size: 16px;
        padding: 6px 18px;
        width: 125px;
        height: 60px;
    }
    .sponsors h2{
        font-size: 16px;
    }
    .sponsors span img{
        width: 150px;
    }
    footer h1{
        font-size: 22px;
    }
    footer a{
        font-size: 16px;
    }
}
@media (max-width:980px) and (min-width:670px){
    .threeG{
        flex-direction: column;
    }
    .three{
        width: 100%;
    }
    .photo{
        width: 300px;
    }
}