<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event</title>
    <link rel="stylesheet" href="./css/contentbootcamp.css"?version= 1.0.5 />
    <link rel="shortcut icon" href="/favicon.ico.png" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <img src="./images/icons8-menu-rounded-50.png" alt="" id="menu" onclick="menuOpen()">
      <img src="./images/icon-close.svg" alt="" id="close" onclick="menuClose()">
      <main>
      <a href="#home"><img src="./images/navLogo.png" alt="" id="navlogo"></a>
  </main>
      <ul id="navList">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/#communities">Community</a></li>
          <li><a href="/event">Events</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="#foot">Contact</a></li>
      </ul>
  </nav>
    <section class="one" id="home">
      <article class="top_left">
        <h2>Blockchain UNN Content writing Bootcamp</h2>
        <h1>Get better at the art of writing..</h1>
      </article>
    </section>
    <section class="two">
      <article class="eventdetails">
        <main class="wte">
          <p id="wtep">
            BlockchainUNN will organize a 6-week content writing bootcamp for those present in our community, kicking off <b>July 11th, 2023</b>.
            <br><br>
            The bootcamp is aimed at helping participants kickstart their content writing career, and guide them to land their first (paying) role.
            <br><br>
            The bootcamp is divided into three sessions a practical, training and project-based session, looking to cover key areas such as the basics of web3 writing, soft skills required to thrive in the space, and building an attractive portfolio.
          </p>
        </main>
      </article>
      <article class="form" id="formfield">
        <form action="/addCont" method="post">
          <input type="text" name="fullname" id="" placeholder="Fullname" required>
          <input type="email" name="email" id="" placeholder="Email address" required>
          <input type="text" name="phone" id="" placeholder="Phone number" required>
          <div class="dropdown">
            <select name="gender" id="" required>
              <option value=".">Select a Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            
          </div>
          <!-- 3rd -->
          <div class="dropdown" >
            <select name="student" required id="">
              <option value=".">Are you a Student</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
           <!-- 4th -->
           <div class="dropdown" >
            <select name="institution" required id="">
              <option value=".">Institution of study</option>
              <option value="UNN/NSUKKA">UNN/Nsukka</option>
              <option value="UNN/UNEC">UNN/UNEC</option>
              <option value="Others">Others</option>
              <option value="I am not a student">I am not a student</option>
            </select>
          </div>
          <!-- 5th -->
          <div class="dropdown" >
            <select name="rate" required id="">
              <option value=".">Rate your knowledge of Blockchain Technology</option>
              <option value="0 - First encounter was at the conference">0 - First encounter was at the conference</option>
              <option value="10-30 - Know a thing or two about it">10-30 - Know a thing or two about it</option>
              <option value="40-70 - Pretty knowledgeable about it">40-70 - Pretty knowledgeable about it</option>
              <option value="80-100 - Im very knowledgeable about it">80-100 - Im very knowledgeable about it</option>
            </select>
          </div>
          <!-- 6th -->
          <div class="dropdown">
            <select name="hours" id=""  required>
              <option value=".">How many hours in a week can you commit to this bootcamp? </option>
              <option value="10 hours">10 hours</option>
              <option value="15 hours">15 hours</option>
              <option value="20 hours">20 hours</option>
            </select>
          </div>
          <input type="submit" value="Register Now" id="reg" name="register" onmouseover="regClicked()" onclick="regClicked()" onmouseleave="regUnclicked()" onsubmit="redirect()">
        </form>
      </article>

      
    </section>

<!-- <section class="outline">
  <header>
    <h1>
      Curriculum
    </h1>
  </header>
  <main class="day1">
  <article class="evelis">
  <p>
    1 <img src="./images/Line 8.png" alt=""> <span class="eve"> Introduction to web3 writing and the course</span>
  </p>
  <p>
    2 <img src="./images/Line 8.png" alt=""> <span class="eve"> Researching to write your first article and twitter thread</span>
  </p>
  <p>
    3 <img src="./images/Line 8.png" alt=""> <span class="eve"> Linkedin and Twitter optimization 
    </span>
  </p>
  <p>
    4 <img src="./images/Line 8.png" alt=""> <span class="eve"> How to use Upwork to get jobs</span>
  </p>
  <p>
    5 <img src="./images/Line 8.png" alt=""> <span class="eve"> Soft skills for writers</span>
  </p>
  <p>
    6 <img src="./images/Line 8.png" alt=""> <span class="eve"> Project </span>
  </p>
</article>
</main>
</section> -->

<section class="curr">
  <header>
    <h1>
      Bootcamp Curriculum
    </h1>
  </header>
  <article>
    <main class="web2">
      <h1>CONTENT WRITING</h1>
      <ul>
        <li><img alt="" src="./images/bull.png"/> Introduction to web3 writing and the course</li>
        <li><img alt="" src="./images/bull.png"/>  Researching to write your first article and twitter thread</li>
        <li><img alt="" src="./images/bull.png"/> Linkedin and Twitter optimization</li>
        <li><img alt="" src="./images/bull.png"/> How to use Upwork to get jobs</li>
        <li><img alt="" src="./images/bull.png"/> Soft skills for writers</li>
        <li><img alt="" src="./images/bull.png"/>  Project</li>
      </ul>
    </main>
  </article>
</section>

<footer id="foot">
  <h1>
    Sponsor Contact details
  </h1>
  <div>
    <a href="mailto:admin@blockchaunn.org">Send a mail: admin@blockchainunn.org</a>
    <span id="numbers"><img src="./images/icons8-call-male-80.png" id="call" alt="">07064271385, 08050827048, 08124720809</span>
    <span>
      <a href="https://www.linkedin.com/in/BlockchainUNN"><img src="./images/linked3.png" alt="" id="ln"> </a>
      <a href="https://www.twitter.com/BlockchainUNN"><img src="./images/twitter.png" alt="" id="footertw"> </a>
      <a href="https://www.twitter.com/BlockchainUNN"><img src="./images/youtube.png" alt=""> </a>
      <a href="https://www.facebook.com/BlockchainUNN"><img src="./images/facebook.png" alt="" id="footerfb"> </a>
      <a href="https://www.instagram.com/BlockchainUNN"><img src="./images/instagram.png" alt="" id="footerig"> </a>
    </span>
  </div>
  <hr>
  <p>Copyright © 2023. BlockchainUNN. All rights reserved</p>
</footer>


  </body>

   
  <script src="./js/event.js"></script>
</html>
