<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="./css/regsucc.css">
</head>
<body>
    <section>
        <img src="./images/icon-checkmark.svg" id="check" alt="">
        <h1>
            Registration Successful
        </h1>
        <p>
            Thanks for registering the blockchainUNN content writing Bootcamp . A confirmation email has been sent to you, we can't wait to see you there!  <br> 
        </p>
        <div class="socials">
            <!-- <a href="https://t.me/BlockchainUNN" class="a" ><span>Telegram </span>  <img src="./images/icons8-telegram-app.svg" class="tel" alt=""></a> -->
            <a href="https://chat.whatsapp.com/FdZgaB32LwG9ycUPs2sAet" class="a" ><span>Whatsapp </span> <img src="./images/icons8-whatsapp-48.png" class="tel" alt=""></a>
        </div>
        <small>
            Join our community
        </small>
        <span>
            <a href="./index.html">
                Return home
            </a>
        </span>
        
    </section>
</body>
</html>