<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Closed</title>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap" rel="stylesheet">
</head>
<style>
    body{
        display: flex;
        min-height: 100vh;
        margin: auto;
    }
    h1{
        margin: auto;
        text-align: center;
        font-size: 40px;
        font-family: 'Righteous', cursive;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
</style>
<body>
    <h1>
        Registration closed
    </h1>
</body>
</html>