<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/regsucc.css">
</head>
<body>
    <section>
        <img src="./images/icon-checkmark.svg" id="check" alt="">
        <h1>
            Registration Successful
        </h1>
        <p>
            Thanks for registering for Blockchain and Beyond, BlockchainUNN Conference 2.0. A confirmation email has been sent to you, we can't wait to see you there!  <br> 
        </p>
        <div class="socials">
            <a href="http://t.me/BlockchainUNN" class="a" >Telegram  <img src="./images/icons8-telegram-app.svg" class="tel" alt=""></a>
            <a href="https://chat.whatsapp.com/CYuTPUia2gYAanubPOb0cm" class="a" >Whatsapp <img src="./images/icons8-whatsapp-48.png" class="tel" alt=""></a>
        </div>
        <small>
            Join our community
        </small>
        <span>
            <a href="./index.html">
                Return home
            </a>
        </span>
        
    </section>
</body>
</html>